* {
    box-sizing: border-box;
}

body {
    background: rgb(218, 227, 252);
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1em;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gamesinfo {
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.error {
    margin: 50px auto;
    padding: 20px;
    color: #a00505;
    background: #fcc2c2;
    border: 2px solid #a00505;
    border-radius: 10px;
}

.fas {
    margin: 50px auto;
    font-size: 3em;
    color: #3771ee;
    animation: loader 2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}